In [1]:
%pip install pandas pillow

Requirement already satisfied: pandas in c:\users\mykro\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: pillow in c:\users\mykro\appdata\local\programs\python\python311\lib\site-packages (10.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mykro\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mykro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mykro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mykro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\mykro\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:

import pandas as pd
from PIL import Image
import numpy as np

In [ ]:

# Функція для отримання унікальних кольорів на зображенні
def get_unique_colors(img):
    colors = img.getcolors(maxcolors=100000) # Збільште maxcolors, якщо зображення має більше кольорів
    color_list = [color[1] for color in colors]
    return color_list

# Шлях до вашого зображення на диску
image_path = '../img/output1small.png'

# Відкриття зображення
img = Image.open(image_path)

# Отримання унікальних кольорів
unique_colors = get_unique_colors(img)

# Створення DataFrame з унікальними кольорами
df_colors = pd.DataFrame(unique_colors, columns=['Red', 'Green', 'Blue', 'Alpha'])

# Виведення таблиці кольорів
df_colors

In [16]:
# Функція для визначення, чи є два кольори подібними
def are_similar(color1, color2, threshold=50):
    return np.sqrt(sum((c1 - c2) ** 2 for c1, c2 in zip(color1, color2))) < threshold

# Групування подібних кольорів
grouped_colors = []
for color in unique_colors:
    if not any(are_similar(color, grouped_color, threshold=40) for grouped_color in grouped_colors):
        grouped_colors.append(color)

# Створення DataFrame з групованими кольорами
df_grouped_colors = pd.DataFrame(grouped_colors, columns=['Red', 'Green', 'Blue', 'Alpha'])

# Виведення таблиці групованих кольорів
df_grouped_colors

   Red  Green  Blue  Alpha
0  174    206   144    255
1  243    242   229    255
2  143    198   112    255
3  224    212   193    255
4  179    207   203    255
5  205    188   167    255
6  190    170   131    255
7  236    162   163    255
8  173    143   101    255
9  162    126    57    255